.section-container {
  
}

.controls {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: row;
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100vh;
  margin: 0;
  background-color: #774360;
}

.controls-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 30px;
}

.arrow {
  margin: 1px;
  padding: 1px;
  cursor: pointer;
}

.timer-container {
  border: 6px solid #4C3A51;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height:150px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #B25068;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.timer-time {
  font-size: 45px;
  font-weight:700;
}

.buttons-container {
  font-size: 40px;
  margin-top: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}